img {
	height: auto;
	max-width: 100%;
}

.site-title {
	font-weight: 700;
}

.portfolio {
	.portfolio-title {
		// color: #DA4453;
		font-size: 1.5rem;
	}
	.button {
		display: inline-block;
		margin-top:12px;
		margin-bottom: 12px;
	}
}

.text--medium {
	font-weight: 600;
}